.bid {
  margin-bottom: 77px;

  @media (max-width: 768px) {
    margin-bottom: 140px;
  }

  .float-images {
    position: relative;
    z-index: 2;

    .polygon {
      &-1 {
        position: absolute;
        @media (max-width: 768px) {
          top: -3rem;
        }
        @media (min-width: 768px) {
          left: 3rem;
          top: 1rem;
        }
      }

      &-2 {
        position: absolute;
        @media (max-width: 768px) {
          width: 88px;
          right: -1rem;
          top: -4rem;
        }
        @media (min-width: 768px) {
          right: 7rem;
          top: -5rem;
        }
      }

      &-3 {
        position: absolute;
        @media (max-width: 768px) {
          width: 83px;
          top: 16rem;
          left: 1rem;
        }
        @media (min-width: 768px) {
          left: 14rem;
          top: 10rem;
        }
      }
    }
  }

  &__first {
    position: relative;
    z-index: 1;
    padding: 29px 0 22px;
    @media (max-width: 767px) {
      -webkit-box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
      -moz-box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
      box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
    }
    @media (min-width: 768px) {
      padding: 30px 167px;
    }
  }

  &__second {
    padding: 36px 0;
    position: relative;
    z-index: 1;

    @media (max-width: 767px) {
      -webkit-box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
      -moz-box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
      box-shadow: 11px 21px 8px 0px rgba(34, 60, 80, 0.29);
    }

    a {
      max-width: 276px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
    }
  }

  &__title {
    line-height: 31.2px;
    @media (max-width: 768px) {
      line-height: 23.2px;
    }
  }

  &__container {
    position: relative;

    .shadow {
      &-1 {
        position: absolute;
        left: -35rem;
        top: -12rem;
      }

      &-2 {
        position: absolute;
        top: -10rem;
        right: -38rem;
      }
    }
  }
}