.contacts {
  margin-bottom: 85px;
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .wave {
    position: absolute;
    top: -2rem;
  }

  .title {
    margin-bottom: 15px;
  }
  .subtitle {
    max-width: 670px;
    margin: 0 auto;
    margin-bottom: 57px;
    @media (max-width: 767px) {
      margin-bottom: 44px;
    }
  }

  &__btns {
    margin-bottom: 56px;
    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  form {
    position: relative;

    .polygon {
      &-1 {
        position: absolute;
        top: -2rem;
        left: -28rem;
        z-index: 1;
      }
      &-2 {
        position: absolute;
        top: 9rem;
        left: -14rem;
      }
      &-3 {
        position: absolute;
        top: 3rem;
        right: -14rem;
      }
      &-4 {
        position: absolute;
        top: 6rem;
        right: -12rem;
      }
      &-5 {
        position: absolute;
        top: 14rem;
        right: -9rem;
      }
    }
  }

  label {
    font-size: 16px;
  }
}