.council {
  margin-bottom: 104px;
  position: relative;
  z-index: 1;

  @media (max-width: 767px) {
    margin-bottom: 56px;
  }

  .title {
    margin-bottom: 56px;

    @media (max-width: 767px) {
      white-space: nowrap;
    }
  }

  .gallery {
    padding-bottom: 25px;

    &__head {
      border-bottom: 2px solid #EEF2F8;
      padding: 12px 14px;

      img {
        margin-right: 17px;
      }
    }

    &__content {
      padding: 25px 14px 49px;
    }

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border-top: 8px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: white;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }
  }
}