.description {
  margin-bottom: 185px;
  @media (max-width: 768px) {
    margin-bottom: 79px;
  }

  .title {
    margin-bottom: 55px;

    @media (max-width: 768px) {
      margin-bottom: 28px;
    }
  }
  .video {
    height: 350px;
    margin-bottom: 48px;
  }

  &__text {
    font-size: 16px;
    p {
      margin: 0;
    }
  }
}