.examples {
  margin-bottom: 70px;
  position: relative;

  .container {
    z-index: 1;
    position: relative;
  }

  .wave {
    position: absolute;
    top: -19rem;
  }

  .title {
    margin-bottom: 56px;
  }

  .gallery {
    padding-bottom: 25px;

    &::-webkit-scrollbar {
      -webkit-appearance: none;
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      border-top: 8px solid rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: white;
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
    }

    &__content {
      padding: 21px 14px 42px;
      min-height: 630px;

      @media (max-width: 767px) {
        padding-bottom: 13px;
      }
    }

    &__title {
      font-size: 18px;
      margin-bottom: 8px;

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }

    &__text {
      @media (max-width: 767px) {
        font-size: 12px;

        a {
          font-size: 14px;
        }
      }
    }
  }
}