.footer {
  position: relative;
  &__links {
    margin-bottom: 68px;
    @media (max-width: 767px) {
      font-size: 12px;
      margin-bottom: 14px;
    }

    img {
      margin-right: 16px;
      @media (max-width: 767px) {
        margin-right: 8px;
      }
    }
  }
  &__date {
    font-size: 12px;
    margin-bottom: 61px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }

  a.btn {
    padding: 14px;

    @media (max-width: 767px) {
      width: 100%;
      height: 40px;
      font-size: 12px;
      margin-bottom: 7px;

      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }

  .wave {
    position: absolute;
    top: -9rem;
  }
}