.header {
  padding-top: 9px;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 48px;

  @media (max-width: 768px) {
    justify-content: space-between;
    margin-bottom: 27px;
  }

  .nav {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &-link {
      @media (max-width: 768px) {
        padding-left: 0;
        padding-right: 0;
        margin-right: 24px;
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .menu {
    @media (max-width: 768px) {
      margin-top: 14px;
    }
  }
}

.lang {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 12px;

  @media (min-width: 768px) {
    margin-right: 2.3rem;
  }
}

.logo {
  @media (min-width: 768px) {
    margin-right: 2.3rem;
  }

  @media (max-width: 768px) {
    img {
      width: 95px;
    }
  }
}

.dropdown-toggle {
  display: flex;
  align-items: center;

  img, span {
    margin-right: 7px;
  }

  &::after {
    border: none;
    content: url("../assets/images/menu/divider.svg");
    vertical-align: middle;
  }
}