.hero {
  position: relative;

  .container {
    position: relative;
    z-index: 1;
  }

  .wave {
    position: absolute;
    bottom: 2rem;
  }

  &__titles {
    margin-bottom: 35px;

    @media (max-width: 768px) {
      margin-bottom: 25rem;
    }
  }

  &__title {
    font-size: 64px;

    @media (max-width: 768px) {
      font-size: 36px;
    }
  }

  &__subtitle {
    font-size: 30px;
    letter-spacing: -1px;

    @media (max-width: 768px) {
      font-size: 24px;
    }
  }

  .frame-block {
    margin-bottom: 50px;
    @media (max-width: 768px) {
      margin-bottom: 36px;
    }

    &__head {
      padding: 20px 13px 22px;

      &.pointer {
        cursor: pointer;
      }

      @media (max-width: 768px) {
        min-height: 186px;
      }

      img {
        margin-bottom: 17px;
      }
    }

    &__bottom {
      padding: 18px 0;
      font-size: 24px;

      @media (max-width: 768px) {
        padding: 14px 0;
        font-size: 18px;
      }
    }
  }

  &__img {
    position: absolute;
    left: -16rem;
    width: 815px;
    top: -106px;
    z-index: 0;
    pointer-events: none;

    @media (max-width: 768px) {
      width: 443px;
      top: 7rem;
      left: 50%;
      transform: translateX(-52%);
    }
  }

  &__btns {
    margin-bottom: 55px;

    @media (max-width: 768px) {
      margin-bottom: 18px;
    }
  }

  .subtitle {
    margin-bottom: 22px;

    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
  }

  .bullets {
    margin-bottom: 137px;
    @media (max-width: 768px) {
      margin-bottom: 51px;
    }

    &__item {
      height: 157px;
      position: relative;
      margin-bottom: 23px;

      img {
        margin-bottom: 30px;
      }
    }

    &__num {
      position: absolute;
      bottom: 30px;
      font-size: 64px;
      left: 4rem;
    }

    &__text {
      max-width: 90%;
      @media (min-width: 768px) {
        max-width: 85%;
        font-size: 18px;
      }
    }
  }

  .scheme {
    position: relative;
    margin-bottom: 215px;

    @media (max-width: 768px) {
      margin-bottom: 100px;
    }

    .subtitle {
      margin-bottom: 30px;

      @media (max-width: 768px) {
        margin-bottom: 17px;
      }
    }

    .scheme__step {
      position: absolute;
    }

    &.customer {
      .scheme__step {
        @media (min-width: 768px) {
          div:first-child {
            margin-bottom: 6rem;
          }
        }

        &-first {
          top: 3rem;
          width: 130px;
          left: 55%;
          @media (max-width: 768px) {
            div:first-child {
              margin-bottom: 1rem;
              position: relative;
              left: -4.5rem;
            }
          }
          @media (min-width: 768px) {
            top: 4rem;
            width: 100px;
            left: 2.5rem;
          }
        }

        &-second {
          top: 10rem;
          width: 150px;
          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-100%);
            div:first-child {
              position: relative;
              right: -11rem;
            }
          }
          @media (min-width: 768px) {
            width: 150px;
            top: 11rem;
            left: 10rem;
          }
        }

        &-third {
          top: 16.5rem;
          width: 170px;
          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-17%);
            div:first-child {
              position: relative;
              right: 10.5rem;
            }
          }
          @media (min-width: 768px) {
            width: 170px;
            top: 5rem;
            left: 21rem;
          }
        }

        &-four {
          width: 205px;
          top: 26rem;

          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-80%);
            div:first-child {
              position: relative;
              right: -11rem;
            }
          }
          @media (min-width: 768px) {
            left: 36rem;
            top: 12rem;
            width: 170px;
          }
        }

        &-five {
          @media (max-width: 768px) {
            width: 170px;
            bottom: 9rem;
            left: 50%;
            transform: translateX(-15%);
            div:first-child {
              position: relative;
              margin-bottom: 1.5rem;
              left: -11rem;
            }
          }
          @media (min-width: 768px) {
            right: 16rem;
            top: 5rem;
            width: 170px;
          }
        }

        &-six {
          @media (max-width: 768px) {
            bottom: 2.5rem;
            left: 50%;
            transform: translateX(-90%);
            div:first-child {
              position: relative;
              left: 8rem;
              margin-bottom: 19px;
            }
          }
          @media (min-width: 768px) {
            right: 0;
            top: 12rem;
            width: 170px;
          }
        }
      }
    }

    &.executor {
      .scheme__step {
        &-first {
          top: 3rem;
          width: 140px;
          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(13%);
            div:first-child {
              margin-bottom: 1rem;
              position: relative;
              left: -3.5rem;
            }
          }
          @media (min-width: 768px) {
            top: 5rem;
            left: 12rem;
            width: 180px;
            div:first-child {
              margin-bottom: 82px;
            }
          }
        }

        &-second {
          top: 15rem;
          width: 150px;
          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-85%);
            div:first-child {
              position: relative;
              right: -11rem;
            }
          }
          @media (min-width: 768px) {
            top: 11rem;
            left: 34rem;
            width: 203px;
            div:first-child {
              margin-bottom: 89px;
            }
          }
        }

        &-third {
          top: 26rem;
          width: 150px;
          @media (max-width: 768px) {
            left: 50%;
            transform: translateX(-13%);
            div:first-child {
              position: relative;
              right: 16rem;
            }
          }
          @media (min-width: 768px) {
            top: 4rem;
            right: 10rem;
            width: 160px;
            div:first-child {
              margin-right: 34px;
              margin-bottom: 83px;
            }
          }
        }
      }
    }
  }
}