$primary: #3A7BDB;
$secondary: #06D2E7;
$success: #0A2F51;
$info: #2F80ED;
$warning: #EEF2F8;
$light: white;
$dark: #2B2836;

$body-bg: $success;
$body-color: $light;

$link-color: $light;
$link-decoration: none;
$link-hover-color: $secondary;

$border-color: white;
$border-radius: 4px;

@font-face {
    font-family: 'Rubik';
    src: url(/fonts/Rubik-Light.ttf) format('truetype');
}

$font-family-sans-serif: 'Rubik', Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$font-family-code: $font-family-sans-serif;
$font-size-root: 14px;

$font-weight-bold: 500;
$font-weight-bolder: 700;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1140px
);

$grid-gutter-width: .687rem;

@import "~bootstrap/scss/bootstrap";
@import "header";
@import "hero";
@import "bid";
@import "description";
@import "mission";
@import "examples";
@import "team";
@import "council";
@import "quality";
@import "tariffs";
@import "contacts";
@import "footer";

.landing {
  width: 100%;
  overflow-x: hidden;
}

.title {
  font-size: 30px;
}

.subtitle {
  font-size: 24px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.wave {
  pointer-events: none;
}

button {
  height: 50px;
  @media (max-width: 768px) {
    height: 40px;
  }
}

.container {
  @media (max-width: 768px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

input {
  height: 50px;
}

.err-text {
  color: red;
}