.mission {
  margin-bottom: 90px;

  @media (max-width: 768px) {
    margin-bottom: 48px;
  }

  &__wrap {
    max-width: 1054px;
    width: 100%;
    padding-top: 64px;
    padding-bottom: 61px;

    @media (max-width: 768px) {
      padding: 21rem 25px 14px;
    }
  }

  .title {
    margin-bottom: 21px;

    @media (max-width: 768px) {
      font-size: 24px;
      text-align: center;
    }
  }

  .subtitle {
    font-size: 18px;

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__text {
    max-width: 660px;
    position: relative;

    img {
      position: absolute;
      top: -11rem;
      left: -27rem;

      @media (max-width: 767px) {
        top: -29rem;
        left: 50%;
        transform: translateX(-40%);
      }
    }
  }
}