.quality {
  position: relative;
  margin-bottom: 94px;
  @media (max-width: 767px) {
    margin-bottom: 136px;
  }

  .container {
    position: relative;
    z-index: 1;
  }

  .title {
    @media (max-width: 767px) {
      font-size: 27px;
      margin-bottom: 50px;
    }
  }

  &__step {
    position: absolute;
    max-width: 276px;
    text-align: left;

    &-first {
      @media (max-width: 768px) {
        top: 11rem;
        font-size: 16px;
        max-width: 185px;
      }
      @media (min-width: 767px) {
        left: 3rem;
        bottom: 7rem;
      }
    }
    &-second {
      @media (max-width: 768px) {
        top: 23rem;
        font-size: 16px;
        max-width: 185px;
        right: 1rem;
      }
      @media (min-width: 768px) {
        top: 13rem;
        left: 33rem;
      }
    }
    &-third {
      @media (max-width: 768px) {
        top: 38rem;
        font-size: 16px;
        max-width: 238px;
      }
      @media (min-width: 768px) {
        right: -2rem;
        top: 4rem;
      }
    }
  }

  .float-shadow {
    position: absolute;
    pointer-events: none;

    @media (max-width: 767px) {
      top: 10rem;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
    @media (min-width: 768px) {
      top: -6rem;
      left: 50%;
      transform: translateX(-45%);
    }
  }
}