.tariffs {
  margin-bottom: 114px;
  @media (max-width: 767px) {
    margin-bottom: 35px;
  }

  .title {
    margin-bottom: 55px;
  }

  &__head {
    display: flex;
    justify-content: center;
    padding-top: 36px;
    padding-bottom: 33px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    padding: 13px 0;
    font-size: 24px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__content {
    padding: 30px 15px 91px;
    font-size: 16px;
    position: relative;
    height: 78%;

    @media (max-width: 767px) {
      padding-bottom: 82px;
      height: 73%;
    }

    li {
      margin-bottom: 14px;
    }

    $width: 276px;

    @media (max-width: 767px) {
      $width: 158px;
    }

    button {
      max-width: $width;
      width: 100%;
      position: absolute;
      bottom: 35px;
      left: calc(50% - #{$width} / 2);

      @media (max-width: 767px) {
        bottom: initial;
      }
    }
  }
}