.team {
  margin-bottom: 263px;
  @media (max-width: 767px) {
    margin-bottom: 193px;
  }

  .title {
    margin-bottom: 56px;
  }

  .subtitle {
    margin-bottom: 24px;

    @media (max-width: 767px) {
      font-size: 24px;
    }
  }

  &__card {
    max-width: 372px;
    width: 100%;
    position: relative;

    &.first-card {
      @media (max-width: 767px) {
        margin-bottom: 26px;
      }
    }

    .rect {
      &-1 {
        position: absolute;
        -webkit-clip-path: polygon(11% 48%, 0% 100%, 100% 63%);
        clip-path: polygon(11% 48%, 0% 100%, 100% 63%);
        width: 310px;
        height: 265px;
        background: red;
        background: linear-gradient(194.37deg, rgba(247, 248, 250, 0) 1.9%, rgba(250, 253, 255, 0.3) 85.13%);
        backdrop-filter: blur(6px);
        border-radius: 2px;
        top: -12rem;
        left: -27rem;

        @media (max-width: 767px) {
          width: 75px;
          height: 86px;
          left: initial;
          right: -1rem;
          transform: rotate(310deg);
          top: 4rem;
        }
      }
      &-2 {
        position: absolute;
        -webkit-clip-path: polygon(100% 20%, 8% 73%, 74% 100%);
        clip-path: polygon(100% 20%, 8% 73%, 74% 100%);
        width: 347px;
        height: 336px;
        background: red;
        background: linear-gradient(194.37deg, rgba(247, 248, 250, 0) 1.9%, rgba(250, 253, 255, 0.3) 85.13%);
        backdrop-filter: blur(6px);
        border-radius: 2px;
        top: -6rem;
        left: 10rem;

        @media (max-width: 767px) {
          left: -2rem;
          top: -1rem;
          transform: rotate(6deg);
        }
      }
    }

    .float-shadow {
      position: absolute;
      top: -19rem;
      left: -11rem;

      @media (max-width: 767px) {
        position: absolute;
        top: 2rem;
        left: -33rem;
        transform: rotate(90deg);
      }
    }

    .polygon {
      &-1 {
        position: absolute;
        left: -35rem;
        top: -27rem;
      }

      &-2 {
        position: absolute;
        left: -19rem;
        top: 10rem;

        @media (max-width: 767px) {
          width: 80px;
          transform: rotate(55deg);
          left: -2rem;
          top: 2rem;
        }
      }

      &-3 {
        position: absolute;
        top: -18rem;
        left: -13rem;

        @media (max-width: 767px) {
          width: 58rem;
          top: -11rem;
          left: -8rem;
          transform: rotate(324deg);
        }
      }

      &-4 {
        position: absolute;
        top: 5rem;
        right: -12rem;

        @media (max-width: 767px) {
          top: 28rem;
          right: 3rem;
        }
      }
    }
  }

  &__photo {
    max-width: 216px;
    width: 100%;
    height: 238px;
    margin-bottom: 24px;
    position: relative;
    z-index: 1;

    &.photo-2 {
      img {
        max-height: 233px
      }
    }

    @media (max-width: 767px) {
      max-width: 235px;
    }

    img {
      margin-left: -18px;
    }
  }

  &__name {
    margin-bottom: 24px;
    font-size: 18px;
    position: relative;
    z-index: 1;
  }

  &__text {
    font-size: 16px;
    position: relative;
    z-index: 1;
  }
}